<template>
  <v-app>
    <v-app-bar app
               dark>
      <v-row>
        <v-col cols="12"
               md="10"
               sm="12"
               offset-md="1">
          <v-row>
            <v-toolbar-title>
              F5 Solutions (pty) Ltd
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn v-for="item in navigationItems"
                   :key="item.name"
                   :to="item.to"
                   class="mr-2"
                   outline
                   exact>
              {{item.name}}
            </v-btn>
          </v-row>
        </v-col>
      </v-row>

    </v-app-bar>

    <v-content>
      <v-container fluid
                   fill-height
                   align-start
                   class="pa-0">

        <v-layout column>

          <!-- VIEW -->
          <v-flex grow>
            <v-layout row>
              <v-flex xs12
                      sm10
                      lg8
                      offset-sm1
                      offset-lg2>
                <router-view></router-view>
              </v-flex>
            </v-layout>
          </v-flex>

        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { mapGetters } from 'vuex'

import Vue from 'vue'
export default Vue.extend({
  name: 'App',
  data: () => ({
    navigationItems: [
      {
        name: 'Home',
        to: {
          name: 'home'
        }
      },
      {
        name: 'Login',
        to: {
          name: 'login'
        }
      }
    ]
  }),
  methods: {
    async logout() {
      await this.$firebaseService.auth.signOut()
      if (this.$route.name === 'login') {
        this.$router.go(0)
      } else {
        this.$router.push({ name: 'login' })
      }
    }
  },
  computed: {
    ...mapGetters({
      authorized: 'authorized'
    })
  }
})
</script>

<style>
html,
body {
  overflow-x: hidden !important;
}

.blackBackground {
  background: black;
}

.whiteBackground {
  background: white;
}

.primaryBackground {
  background: #1dcdc1;
}
</style>